@media (max-width:1024px) {
    #instagramwrapper {
        width: 90%;
    }
    #slider img  {

    left: 14.4rem;
      
    }

}

@media (max-width:650px ){
    #instagramwrapper {
        width: 90%;
        
    }
    .phone {
        display: none;
    }

    #slider {
        display: none;
    }

    .continue {
        width: 100%;
    }

    .grupo {
        border: 1px solid transparent;
        position: center;
    }


}

